<div class="readers">
  <%= f.label :first_name, "Имя:" %><br>
  <%= f.text_field :first_name%><br>
  <%= f.label :last_name, "Фамилия:" %><br>
  <%= f.text_field :last_name %><br>
  <%= f.label :birthday, "Дата рождения:" %>
  <%= f.date_field :birthday %><br>
</div>
