<div class="readers">
  <div class="form_name">
    <%= f.label :first_name, "Имя:" %>
    <%= f.text_field :first_name%>
    <%= f.label :last_name, "Фамилия:" %>
    <%= f.text_field :last_name %>
</div>
  <div class="form_birthday">
    <%= f.label :birthday, "Дата рождения:" %>
    <%= f.date_field :birthday %>
  </div>
</div>
