<div class="page">
  <%= link_to 'Добавить читателя', new_reader_path, class:"button-right" %>

  <table class="model-table">
    <thead>
      <tr>
        <td>Фамилия</td>
        <td>Имя</td>
        <td>Дата рождения</td>
        <td colspan="2">Действия</td>
      </tr>
    </thead>
    <tbody>
      <% @readers.each do |reader| %>
        <tr>
          <td><%= link_to reader.last_name, edit_reader_path(reader.id), class: "bold" %></td>
          <td><%= reader.first_name %></td>
          <td><%= reader.birthday %></td>
          <td class="transparent"><%= link_to 'Удалить', reader_path(reader.id),  class: "delete_button", method: :delete, data: {confirm: 'Ты уверен?'} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <a class="button_back" href="articles.html">На главную</a>
</div>
