<div class="authors">
  <%= f.label :first_name, "Имя:" %>
  <%= f.text_field :first_name %>
  <%= f.label :last_name, "Фамилия:" %>
  <%= f.text_field :last_name %>
  <div class="gender-block">
    <%= f.label :gender, "Пол:"%>
    <div class="form_gender">
      <p class="gender-radio_button"><%= f.radio_button :gender, "female" %><%= t("enum.gender.female") %></p>
      <p class="gender-radio_button"><%= f.radio_button :gender, "male" %><%= t("enum.gender.male") %></p>

      <!--<p class="gender-radio_button"><%= f.radio_button :gender, "0" %><%= t("enum.gender.female") %></p>
      <p class="gender-radio_button"><%= f.radio_button :gender, "1" %><%= t("enum.gender.male") %></p>-->
    </div>
  </div>
  <%= f.label :active, "Статус:" %>
  <div class="checkbox"><%= f.check_box :active %>активен на сегоднешний день</div>
  <%= f.label :description, "Информация:" %>
  <%= f.text_area :description %>
</div>
