<div class="form-authors">
  <%= f.label :first_name, "Имя:" %><br>
  <%= f.text_field :first_name %><br>
  <%= f.label :last_name, "Фамилия:" %><br>
  <%= f.text_field :last_name %><br>
  <div class="gender-block">
    <%= f.label :gender, "Пол:"%><br>
    <div style="margin-top: 10px;">
      <p class="gender-radio_button"><%= f.radio_button :gender, "0" %><%= t("enum.gender.female") %></p>
      <p class="gender-radio_button"><%= f.radio_button :gender, "1" %><%= t("enum.gender.male") %></p>
    </div>
  </div>
  <%= f.label :active, "Статус:" %><br>
  <%= f.check_box :active %>активен на сегоднешний день<br><br>
  <%= f.label :description, "Информация:" %><br>
  <%= f.text_area :description %><br>
</div>
