<div class="books">
  <div class="form_name">
    <%= f.label :title, "Название книги:" %>
    <%= f.text_field :title %>
    <%= f.label :year_published, "Год публикации:" %>
    <%= f.text_field :year_published %>
    <%= f.label :annotation, "Аннотация:" %>
    <%= f.text_area :annotation %>
    <%= f.label :page, "Количество страниц:" %>
    <%= f.text_field :page %>
    <%= f.label :content, "Оглавление:" %>
    <%= f.text_area :content %>
  </div>
  <div class="books-select">
    <%= f.label :content, "Выберите автора:" %>
    <%= f.collection_select :author_id, Author.order(:last_name), :id, :full_name %>
  </div>
</div>
