<div class="books">
  <%= f.label :title, "Название книги:" %><br>
  <%= f.text_field :title %><br>
  <%= f.label :year_published, "Год публикации:" %><br>
  <%= f.text_field :year_published %><br>
  <%= f.label :annotation, "Аннотация:" %><br>
  <%= f.text_area :annotation %><br>
  <%= f.label :pages, "Количество страниц:" %><br>
  <%= f.text_field :pages %><br>
  <%= f.label :content, "Оглавление:" %><br>
  <%= f.text_area :content %><br>
  <div class="books-select">
    <%= f.label :content, "Выберите автора:" %><br>
    <%= f.collection_select :author_id, Author.order(:last_name), :id, :full_name %><br>
  </div>
</div>
