<div class="button-right">
  <%= link_to 'Добавить книгу', new_book_path %>
</div>
<div class="table">
  <table>
    <thead>
      <tr>
        <td>Название книги</td>
        <td>Автор</td>
        <td>Год публикации</td>
        <td>Аннотация</td>
        <td>Количество страниц</td>
        <td>Оглавление</td>
        <td>Действия</td>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= link_to book.title, edit_book_path(book.id), class: "bold" %></td>
          <td><%= book.author.full_name %></td>
          <td><%= book.year_published %></td>
          <td><%= book.annotation %></td>
          <td><%= book.number_of_pages %></td>
          <td><%= book.content %></td>
          <td class="transparent"><%= link_to 'Удалить', book_path(book.id), class: "delete_button", method: :delete, data: {confirm: 'Ты уверен?'} %></td>
          <tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="button_back">
  <a href="articles.html">На главную</a>
</div>
